body {
  background : black;    
}

#rfk {
  border-width: 1px;
  border-color: gray;
  border-style: solid;
}

#nki {
  border-width: 1px;
  border-color: gray;
  border-style: solid;  
  width: 796px;
  height: 14pt;
  padding-left: 4px;
  font-family: Arial, Sans-serif;
  font-size: 10pt;
}

#title {
  font-family: Courier, Monospace;
  font-size: 10pt;
  color: gray;
}

#newGame {
  margin-top: 5px;
  padding-left: 4px;
  font-family: Courier, Monospace;
  font-weight: bold;
  font-size: 10pt;
  color: gray;
  border-width: 1px;
  border-color: gray;
  border-style: solid;
  width: 76px;
  height: 14pt;
  cursor: default;
}