body {
  background : black;
}

.rfk-border {
  border-width: 1px;
  border-color: gray;
  border-style: solid;
}

.rfk-text {
  font-family: Courier, Monospace;
  font-size: 1em;
  color: gray;
}

.rfk-label {
  padding-left: 0.2em;
  padding-right: 0.2em;
  font-weight: bold;
  height: 1.2em;
}

#title {
  font-size: 0.8em;
}

#nki {
  width: 798px;
  height: 2.2em;
  padding-left: 0.2em;
  margin-top: 0.3em;
}

#newGame {
  cursor: default;
  color: white;
}

#instructions {
  width: 800px;
  margin-top: 0.3em;
}

#display {
  white-space: nowrap;
  margin-top: 0.3em;
}

#credits {
  margin-top: 0.3em;
  width: 800px;
  border-width: 1px;
  border-color: gray;
  border-top: 1px solid gray;
}

#credits a {
  color: white;
}