body {
  background : black;    
}

.rfk-border {
  border-width: 1px;
  border-color: gray;
  border-style: solid;    
}

.rfk-text {
  font-family: Courier, Monospace;
  font-size: 10pt;
  color: gray;
}

#nki {
  width: 796px;
  height: 14pt;
  padding-left: 4px;
}

#newGame {
  margin-top: 5px;
  padding-left: 4px;
  font-weight: bold;
  width: 76px;
  height: 14pt;
  cursor: default;
}

#display {
  white-space: nowrap;    
}